:root {
  --border-color: #8f8f8f;
  --tg-theme-msg-box-color: #e1fdbf;

  --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}


body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  padding: 20px 20px;
  margin: 0;
  font-family: var(--default-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.Todo-Item {
  font-size: 18px;
  width: 100%;
  padding: 12px 0px;
  margin: 12px 0px;
  border-radius: 12px;
  background: var(--tg-theme-secondary-bg-color);
}

.Todo-Item ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline;
  justify-content: space-between;
  list-style: none;
}

.Todo-Item .Edit-Options {
  padding-top: 5px;
  font-size: 20px;
}

.Todo-Item .Edit-Options li {
  margin: 5px;
  display: inline-block;
}

.Todo-Item input {
  margin: 0px 12px;
  text-align: center;
  font-size: 18px;
  border: none;
  background: rgba(255, 255, 255, 0.5);
}

input:hover {
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

.Todo-Item .Accept-Options {
  padding-top: 5px;
  font-size: 20px;
}

.Todo-Item .Accept-Options li {
  margin: 5px;
  display: inline-block;
}

.Completed .Todo-Item {
  background: color-mix(in srgb, var(--tg-theme-secondary-bg-color), #000 20%);
}

button {
  background-color: var(--tg-theme-button-color); /* Background color */
  color: var(--tg-theme-text-color); /* Text color */
  border: 1px solid var(--border-color);
  font-size: 18px;
  border-radius: 10px; /* Rounded corners */
  padding: 10px 20px; /* Padding for the button content */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s; /* Smooth color transition on hover */
  outline: none; /* Remove default focus outline */
}

button:hover {
  background-color: color-mix(in srgb, var(--tg-theme-button-color), #000 10%); /* Change background color on hover */
}

button:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow on focus */
}



/* Floating button styles */
.FloatingButton {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 30px;
  right: 30px;
  background-color: var(--tg-theme-button-color); /* Change the background color as needed */
  color: var(--tg-theme-text-color); /* Change the text color as needed */
  border: 1px solid var(--border-color);
  border-radius: 50%; /* Make it round */
  padding: 15px;
  font-size: 26px; /* Set the font size */
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Optional: Add a subtle box shadow */
}

/* Add Task Modal styles */
.AddModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--tg-theme-bg-color);
  padding: 20px;
  border-radius: 5%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensure it's above other elements */
}

/* Modal textarea styles */
.AddModal textarea {
  width: 100%;
  height: 100px;
  border: none;
  margin-bottom: 10px;
  resize: none; /* Disable textarea resizing */
}

.AddModal textarea:focus {
  border: none;
  outline: none;
}

/* Modal button container styles */
.ModalButtons {
  display: flex;
}

/* Modal button styles */
.AddModal button {
  margin: 3px;
  background-color: var(--tg-theme-button-color);
  border: 1px solid var(--border-color);
  padding: 10px 15px;
  cursor: pointer;
}

.AddModal .Cancel {
  background-color: #ff8f84;
}

/* Navigation Bar styles */
.NavigationBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--tg-theme-bg-color); /* Change the background color as needed */
  display: flex;
  justify-content: space-around;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

/* Navigation Bar button styles */
.NavigationBar button {
  background-color: var(--tg-theme-button-color);
  padding: 10px;
  /*margin: 3px;*/
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

/* Persona.css */

.Persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.AvatarContainer {
  margin-bottom: 20px;
}

.Avatar {
  width: 150px; /* Adjust the size as needed */
  height: 150px; /* Adjust the size as needed */
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.ActivitiesBlock,
.PerformanceBlock {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--tg-theme-msg-box-color);
  color: black;
}

h2 {
  color: #45a661; /* Heading color */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
