:root {
  --tg-theme-bg-color: #fff;
  --tg-theme-text-color: #0a0a0a;
  --tg-theme-hint-color: #929292;
  --tg-theme-link-color: #207ae4;
  --tg-theme-button-color: #5bc8fb;
  --tg-theme-button-text-color: #fffeec;
  --tg-theme-secondary-bg-color: #f3f2f9;
  --tg-theme-msg-box-color: #e1fdbf;

  --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}


body {
  background: var(--tg-theme-secondary-bg-color);
  padding: 20px 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.Todo-Item {
  font-size: 18px;
  width: 100%;
  padding: 12px 0px;
  margin: 12px 0px;
  border-radius: 12px;
  background: var(--tg-theme-msg-box-color);
}

.Todo-Item ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline;
  justify-content: space-between;
  list-style: none;
}

.Todo-Item .Edit-Options {
  padding-top: 5px;
  font-size: 20px;
}

.Todo-Item .Edit-Options li {
  margin: 5px;
  display: inline-block;
}

.Todo-Item input {
  margin: 0px 12px;
  text-align: center;
  font-size: 18px;
  border: none;
  padding: 0; /* Optionally remove padding */
  background: rgba(255, 255, 255, 0.5);
}

input:hover {
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

.Todo-Item .Accept-Options {
  padding-top: 5px;
  font-size: 20px;
}

.Todo-Item .Accept-Options li {
  margin: 5px;
  display: inline-block;
}

/*.Todo-Item .Accept-Options {*/
/*  padding-top: 5px;*/
/*  font-size: 20px;*/
/*  justify-content: space-between;*/
/*}*/

/*.Todo-Item .Accept-Options li {*/
/*  margin: 5px;*/
/*  display: inline-block;*/
/*}*/

/*.Todo-Item button {*/
/*  transition-duration: 0.4s;*/
/*  width: 10%;*/
/*  font-size: 14px;*/
/*}*/

/*.Todo-Item button:hover {*/
/*  background-color: #4CAF50; !* Green *!*/
/*  color: white;*/
/*}*/